/* ====================== */
/* ===== Общие стили ===== */
/* ====================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
  color: rgba(255, 255, 255, 1);
}

h2,
h3,
h4,
h5,
h6,
p {
  color: rgba(192, 192, 192, 1);
}

/* ====================== */
/* ===== Контейнер ====== */
/* ====================== */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ====================== */
/* ===== Кнопки ========= */
/* ====================== */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 155px;
  height: 42px;

  color: #000;
  background-color: rgba(255, 255, 255, 1);

  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  border-radius: 7px;
  transition: opacity 0.3s;
}

.btn:hover {
  opacity: 0.7;
}

/* ====================== */
/* ===== Ссылки и ul ===== */
/* ====================== */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* Общие стили для всех групп иконок */
.icon-group {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* ====================== */
/* ===== Хедер ========= */
/* ====================== */
.header {
  height: 100px;
}

/* Контейнер шапки */
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 140px 10px 140px;
}

/* Лого + навигация */
.header-flex {
  display: flex;
  align-items: center;
  gap: 340px;
}

.header_logo {
  width: 128px;
  height: 31px;
  transition: opacity 0.3s;
  margin-top: 20px;
}

.header_logo:hover {
  opacity: 0.7;
}

/* Навигация */
.header_nav {
  display: flex;
  margin-top: 11px;
}

.header_nav a {
  font-size: 13px;
  text-align: left;
  transition: opacity 0.3s;
}

.header_nav a:hover,
.header_nav a.active {
  opacity: 0.7;
}

/* Список пунктов меню */
.header_list {
  display: flex;
  margin-top: -2px;
}

.header_list li:first-child + li {
  margin-left: 56px;
}

.header_list li:nth-child(n + 3) {
  margin-left: 32px;
}

/* Специфичные стили кнопки */
.header .btn {
  margin-top: 11px;
}

/* ====================== */
/* ===== Секция Welcome == */
/* ====================== */
.main {
  display: flex;
  flex-direction: column; /* секции идут друг за другом сверху вниз */
  width: 100%; /* занимает всю ширину страницы */
  min-height: 100vh; /* чтобы хотя бы на полный экран был */
  position: relative; /* если внутри есть абсолютные элементы */
}

.welcome {
  padding-top: 531px;
  padding-bottom: 60px;

  display: flex;
  justify-content: center;

  /* Фон секции */
  background-image: url('./img/one.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.welcome .container-text {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 10px 10px 10px;
}

.welcome_subtitle {
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 1px 0;
}

.welcome_title {
  font-size: 54px;
  line-height: 60px;
  text-align: center;
  margin: -16px 0 18px 0;
}

.welcome_desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin-top: -7px;
}

/* ====================== */
/* ===== Иконки ========== */
/* ====================== */

/* Позиция в секции Welcome */
.welcome .icon-group {
  position: absolute;
  top: 758px;
  right: 40px;
}

.icon-item {
  display: flex;
  align-items: center;
  gap: 5px; /* между svg и текстом */
}

.icon-item p {
  margin: 0;
  position: relative;
  top: -5px;
  font-size: 14px;
}

/* ====================== */
/* ===== Портфолио ====== */
/* ====================== */

.portfolio {
  width: 100%;
  padding: 120px 0 100px;
  background: rgba(0, 0, 0, 1);
}

.portfolio__card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.portfolio__intro {
  width: 600px;
  height: 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

.portfolio__intro h2,
.portfolio__intro p {
  margin: 0;
}

.portfolio__title {
  color: #fff;
  font-size: 40px;
  text-align: left;
  margin: 0 0 10px;
}

.portfolio__desc {
  font-size: 23px;
  text-align: left;
  margin: 0;
}

.portfolio__grid {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
  margin: 40px auto 0;
}

/* Карточка */
.portfolio__item {
  position: relative;
  overflow: hidden;
}

.portfolio__item-bg {
  width: 576px;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ===== ТЕКСТОВЫЙ БЛОК ===== */
.portfolio__text-block {
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
}

.portfolio__item-title {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}

.portfolio__item-desc {
  font-size: 14px;
  margin: 0;
  width: 100%;
  max-width: 516px;
  height: 80px;
}

/* ===== КНОПКА ===== */
.portfolio__text-block .swipe {
  position: relative;
  display: flex;
  align-items: center;
  width: 143px;
  height: 42px;
  border-radius: 14px;
  background: #fff;
  color: #000;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  padding-left: 12px;
  margin-top: 0px;
  margin-bottom: 8px;
  transition: 0.35s ease;
}

.swipe__circle {
  position: absolute;
  left: 4px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #000;
  transition: 0.35s ease;
}

.swipe__text {
  position: relative;
  margin-left: 40px;
  transition: 0.35s ease;
  font-size: 12.5px;
  line-height: 20px;
  letter-spacing: 0.4px;
}

.swipe:hover .swipe__circle {
  left: calc(100% - 36px);
}

.swipe:hover .swipe__text {
  margin-left: 10px;
}

/* ====================== */
/* == Секция After-Portfolio == */
/* ====================== */

.after-portfolio {
  width: 100%;
  height: 600px;
  position: relative;
  margin: 0 auto; /* центрируем секцию на странице */
  background-image: url('./img/six.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center; /* центр горизонтально */
  align-items: center; /* центр вертикально */
}

.after-portfolio .container_text {
  position: absolute; /* чтобы можно было точно задать отступы */
  left: 1088px; /* отступ от левого края секции */
  right: 62px; /* отступ от правого края секции */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* выравниваем тексты по левому краю блока */
}

.after-portfolio__subtitle {
  font-size: 14px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: -12px;
}

.after-portfolio__desc {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

/* ====================== */
/* ===== Иконки ========== */
/* ====================== */

/* Позиция в секции After-Portfolio */
.after-portfolio .icon-group {
  position: absolute;
  top: 560px;
  right: 40px;
}

.icon-item {
  display: flex;
  align-items: center;
  gap: 5px; /* между svg и текстом */
}

.icon-item p {
  margin: 0;
  position: relative;
  top: -5px;
  font-size: 14px;
}
